@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #F7F7F8;
} 


.hero-section-left {
  width: 100%;
}

.hero-section-right {
  background-color: white;
  padding: 2rem;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-cta-wrapper {
  max-width: 600px;
}

.hero-cta-input-wrapper {
  border: solid 0.5px #fafafa;
}

h1{
  letter-spacing: -1.5px;
  font-size: 44px;
  color:rgb(46, 46, 46);
  font-weight: 500;
}


.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  background-color: transparent;
  z-index: 10;
  align-items: center;
  padding: 1rem 4rem;  width: 100vw;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}


/* Responsive — mobile (768px+) */
@media (max-width: 768px) {
  .hero-wrapper {
    flex-direction: column;
    height: auto;
    width: 100vw;
    background-color: white;
  }

  .hero-section-left,
  .hero-section-right {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }
}