

.primary-button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.text {
    font-size: 15px;
    color: rgb(46, 46, 46);
    max-width: 400px;
}